body {
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
}

#fullpage > .section > div {
  display:flex;
  align-items:center;
  justify-content:center;
}

/* 메인 시작 */
/* 메인 - 텍스트 배경 시작 */
.main .text-bg {
  margin-top:60px;
  font-family: 'Roboto', sans-serif;
  color:transparent;
  font-weight: 700;
  -webkit-text-stroke: 6px white; /* 텍스트 외곽선 */
  opacity: 3%;
  letter-spacing: -10px;
}

.main .text-bg > p:first-child {
  font-size:280px;
  line-height: 75%;
  margin-bottom: 70px;
}

.main .text-bg > p:last-child {
  font-size:192px;
  line-height: 75%;
}
/* 메인 - 텍스트 배경 끝 */

/* 메인 - 타이틀 시작 */
.main .title-1 {
  position: absolute;
  top:358px;
  left:0;
  display: flex;
  flex-direction: column;
}

.main .title-1 > p:first-child {
  font-size: 17px;
  color:white;
  margin-bottom: 20px;
  align-self: flex-end;
}

.main .title-1 > .title_line {
  width: 489.33px;
  height: 7.96px;
  background-color: #C4C4C4;
}

.main .title-1 > p:nth-child(3) {
  font-size: 96px;
  font-weight: 700;
  color:#E4E4E4;
  align-self: flex-end;
  line-height: 80%;
  margin-top: 20px;
}

.main .title-2 > p {
  font-size: 55px;
  font-weight: 700;
  color:#E4E4E4;
  line-height: 0;
  position:absolute;
  top:572.21px;
  left:225.43px;
  z-index: 2;
}
/* 메인 - 타이틀 끝 */

/* 메인 - 바다 이미지 시작 */
.main .main-img > .main-img__bg {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* 메인 - 바다 이미지 끝 */
/* 메인 끝 */
