body {
  font-family: 'Roboto Slab', 'Noto Sans KR', sans-serif;
}

.con {
  width: 1920px;
}

/* 화면 배경색 */
.section {
  background-color: #202020;
}

/* 헤더 - 메뉴바 시작 */
.menu-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50vh;
  left: auto;
  right: 50px;
  transform: translateY(-50%);
  z-index: 100;
  color: #777777;
  font-size: 24px;
  font-weight: 700;
}

.menu-bar .logo>.logo {
  fill: #fff;
}

.menu-bar .logo>.SunMoon {
  position: absolute;
  top: -7.74px;
  left: 89.14px;
  fill: #FFD600;
}

.menu-bar .logo>.SunMoon>.dark {
  display: block;
  opacity: 1;
  animation: waved 5s infinite linear;
}

.menu-bar .logo>.SunMoon>.light {
  display: none;
  animation: wave 10s infinite linear;
}

/* 물결 출렁이는 애니메이션 */
@keyframes waved {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}

.menu-bar .menu {
  text-align: right;
}

.menu-bar a:not(.logo) {
  line-height: 100%;
  display: block;
  margin-top: 23px;
}

.menu-bar .menu>li.active>a {
  color: white;
}

/* 헤더 - 메뉴바 끝 */


/* 메인 시작 */
/* 메인 - 텍스트 배경 시작 */
.main>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .text-bg {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  color: transparent;
  font-weight: 700;
  -webkit-text-stroke: 6px #FFF;
  /* 텍스트 외곽선 */
  opacity: 3%;
  letter-spacing: -10px;
}

.main .text-bg>p:first-child {
  font-size: 275px;
  line-height: 75%;
  margin-bottom: 60px;
}

.main .text-bg>p:last-child {
  font-size: 187px;
  line-height: 75%;
  letter-spacing: -8px;
}

/* 메인 - 텍스트 배경 끝 */


/* 메인 - 타이틀 시작 */
.main .title-1 {
  position: absolute;
  top: 358px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main .title-1>p:first-child {
  font-size: 18px;
  color: white;
  margin-bottom: 18px;
  align-self: flex-end;
  font-weight: 100;
}

.main .title-1>.title_line {
  width: 489.33px;
  height: 7.96px;
  background-color: #C4C4C4;
}

.main .title-1>p:nth-child(3) {
  font-size: 96px;
  font-weight: 700;
  color: #E4E4E4;
  align-self: flex-end;
  line-height: 80%;
  margin-top: 20px;
}

.main .title-2>p {
  font-size: 55px;
  font-weight: 700;
  color: #E4E4E4;
  line-height: 0;
  position: absolute;
  top: 572.21px;
  left: 225.43px;
  z-index: 10;
}

/* 메인 - 타이틀 끝 */


/* 메인 - 바다 이미지 시작 */
.main .main-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #202020;
  z-index: 1;
  overflow: hidden;
}

.main .main-img div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.main .main-img .main-img__sky-1 {
  background: linear-gradient(#0f42a8, #C77CE1);
  opacity: 90%;
}

.main .main-img .main-img__sky-2 {
  background: linear-gradient(transparent, #202020);
  opacity: 40%;
}

.main .main-img>.main-img__sea>div {
  width: 850px;
  height: 900px;
  background: radial-gradient(#3e79f6 40%, #688ddb 70%);
  animation: wave 8s infinite linear;
  z-index: 5;
}

.main .main-img>.main-img__sea>.main-img__wave-1 {
  border-radius: 46%;
  top: 55%;
  left: -150px;
  opacity: 90%;
}

.main .main-img>.main-img__sea>.main-img__wave-2 {
  border-radius: 44%;
  top: 53%;
  left: -150px;
  opacity: 60%;
  animation: wave2 8.5s infinite linear;
  transform: rotate(50deg);
}

.main .main-img>.main-img__sea>.main-img__wave-3 {
  border-radius: 45%;
  top: 51%;
  left: -150px;
  opacity: 20%;
  animation: wave3 8.2s infinite linear;
  transform: rotate(20deg);
}

/* 물결 출렁이는 애니메이션 */
@keyframes wave {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave2 {
  100% {
    transform: rotate(410deg);
  }
}

@keyframes wave3 {
  100% {
    transform: rotate(380deg);
  }
}

.main .main-img .main-img__boat {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 9;
  animation: boat 3s infinite linear;
}

.main .main-img .main-img__boat>img {
  width: 200px;
}

.main .main-img .main-img__boat>.dark {
  display: block;
}

.main .main-img .main-img__boat>.light {
  display: none;
}

@keyframes boat {
  50% {
    top: 47%;
  }
}

/* 메인 - 바다 이미지 끝 */
/* 메인 끝 */


/* 타이틀 공통 css 시작 */
.title-css {
  position: absolute;
  top: 358px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title-css>p:first-child {
  font-size: 18px;
  color: white;
  margin-bottom: 18px;
  font-weight: 100;
}

.title-css>.title_line {
  width: 419px;
  height: 7.96px;
  background-color: #C4C4C4;
}

.title-css>p:last-child {
  color: #E4E4E4;
  font-weight: 700;
  font-size: 55px;
  line-height: 70%;
  margin-top: 20px;
}

/* 타이틀 공통 css 끝 */


/* 어바웃미 시작 */
/* 어바웃미 - 한 줄 소개 시작 */
.aboutMe .main-text {
  position: absolute;
  top: 210px;
  left: 563px;
  font-size: 36px;
  color: #E4E4E4;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.aboutMe .main-text>span:nth-of-type(2) {
  font-weight: 300;
}

.aboutMe .main-text>span:nth-of-type(4) {
  font-size: 48px;
  color: #7079E2;
  line-height: 110%;
}

/* 어바웃미 - 한 줄 소개 끝 */

/* 어바웃미 - 항목별 소개 시작 */
.aboutMe .sub-text {
  position: absolute;
  top: 405px;
  left: 499px;
  min-width: 748px;
  min-height: 367px;
  display: flex;
}

.aboutMe .sub-text>.items {
  font-size: 26px;
  font-weight: 500;
  color: #E4E4E4;
  line-height: 80%;
}

.aboutMe .sub-text>.items>p {
  margin-bottom: 50px;
}

.aboutMe .sub-text>.items>p:nth-child(3) {
  margin-bottom: 130px;
}

.aboutMe .sub-text>.line {
  width: 3px;
  height: 372px;
  background-color: #C4C4C4;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: -5px;
}

.aboutMe .sub-text>.content {
  font-size: 24px;
  font-weight: 300;
  color: #E4E4E4;
  font-family: 'Noto Sans KR', sans-serif;
}

.aboutMe .sub-text>.content>p {
  line-height: 80%;
  margin-bottom: 50px;
}

.aboutMe .sub-text>.content>.education-con {
  margin-bottom: 50px;
}

.aboutMe .sub-text>.content>.education-con>p {
  line-height: 100%;
}

.aboutMe .sub-text>.content>.education-con>p:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutMe .sub-text>.content>.skill-con {
  display: flex;
}

.aboutMe .sub-text>.content>.skill-con>div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: black;
  width: 65px;
  height: 65px;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.aboutMe .sub-text>.content>.skill-con>div:first-child,
.aboutMe .sub-text>.content>.skill-con>div:nth-child(5) {
  background-color: #0F43A8;
}

.aboutMe .sub-text>.content>.skill-con>div:nth-child(2),
.aboutMe .sub-text>.content>.skill-con>div:last-child {
  background-color: #C77CE1;
}

.aboutMe .sub-text>.content>.skill-con>div:nth-child(3) {
  background-color: #0075FF;
}

.aboutMe .sub-text>.content>.skill-con>div:nth-child(4) {
  background-color: #63E3FF;
}

/* 어바웃미 - 항목별 소개 끝 */

/* 어바웃미 - 사진 시작 */
.aboutMe .photo {
  position: absolute;
  z-index: 2;
  top: 297px;
  left: 1327px;
}

.aboutMe .photo>img {
  width: 300px;
}

/* 어바웃미 - 사진 끝 */
/* 어바웃미 끝 */


/* 포트폴리오 시작 */
.portfolio .tab-menu {
  position: absolute;
  z-index: 2;
  top: 120px;
  left: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 포트폴리오 - 탭메뉴 타이틀 */
.portfolio .tab-menu>.tab-menu__title {
  font-size: 48px;
  font-weight: 700;
  color: #E4E4E4;
  line-height: 80%;
  margin-bottom: 30px;
}

/* 포트폴리오 - 탭메뉴 아이템 */
.portfolio .tab-menu>.head>ul {
  display: flex;
  color: #999999;
  margin-bottom: 55px;
}

.portfolio .tab-menu>.head>ul>li {
  display: flex;
  align-items: center;
}

.portfolio .tab-menu>.head>ul>li:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 18px;
  background-color: #C4C4C4;
  margin-left: 15px;
  margin-right: 15px;
}

.portfolio .tab-menu>.head>ul>li>a {
  cursor: pointer;
  font-size: 19px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 포트폴리오 - 탭메뉴 내용 */
.portfolio .tab-menu>.body>ul {
  width: 1100px;
  height: 565px;
  border-radius: 1%;
  background-color: #292929;
}

.portfolio .tab-menu>.body>ul>.pf {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .tab-menu>.body .content {
  width: 397px;
  height: 416px;
}

.portfolio .tab-menu>.body .content>.text-1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 80%;
}

.portfolio .tab-menu>.body .content>.text-1>div {
  height: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.portfolio .tab-menu>.body .content>.text-1>div:last-child {
  margin-bottom: 50px;
}

.portfolio .tab-menu>.body .content>.text-1>div>p:first-child {
  width: 110px;
}

.portfolio .tab-menu>.body .content>.text-1>div>p:last-child {
  font-size: 17px;
  font-weight: 100;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 20px;
  line-height: 70%;
}

.portfolio .tab-menu>.body .content>.text-2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  width: 397px;
  height: 140px;
  margin-bottom: 50px;
}

.portfolio .tab-menu>.body .content>.btn {
  display: flex;
  justify-content: space-between;
}

.portfolio .tab-menu>.body .content>.btn>a {
  width: 188px;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: 2px solid #C4C4C4;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.portfolio .tab-menu>.body .content>.btn>a:hover {
  background-color: #7079E2;
  border: 0px solid #C4C4C4;
}

/* 포트폴리오 탭메뉴 내용, 목업 */
.portfolio .tab-menu>.body .mockup {
  width: 575px;
  height: 478px;
  margin-left: 42px;
  position: relative;
}

.portfolio .tab-menu>.body .mockup>img {
  width: 574.1px;
}

.portfolio .tab-menu>.body .mockup>.dark {
  display: block;
}

.portfolio .tab-menu>.body .mockup>.light {
  display: none;
}

.portfolio .tab-menu>.body .mockup>.site-img {
  width: 515px;
  height: 290px;
  background-color: white;
  position: absolute;
  top: 32px;
  left: 29px;
  overflow: hidden;
}

.portfolio .tab-menu>.body .mockup>.site-img>.dark {
  display: block;
}

.portfolio .tab-menu>.body .mockup>.site-img>.light {
  display: none;
}

.portfolio .tab-menu>.body .mockup>.site-img>img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 10s;
}

.portfolio .tab-menu>.body .mockup>.site-img:hover>img {
  top: -750px;
}

.portfolio .tab-menu>.body .mockup>.mouseover-img {
  position: absolute;
  bottom: 35px;
  left: auto;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: updown 1.5s infinite linear;
  opacity: 0.3;
}

.portfolio .tab-menu>.body .mockup>.mouseover-img>p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: white;
  line-height: 80%;
  padding: 6px;
  border-radius: 3px;
  background-color: #7079E2;
  margin-top: 6px;
}

/* 마우스 오버 이미지 애니메이션 */
@keyframes updown {
  50% {
    bottom: 25px;
    opacity: 1;
  }
}

/* 탭메뉴 작동 관련 */
.portfolio .tab-menu>.body>ul>.pf {
  opacity: 0;
  position: absolute;
  /* 평상 시에는 absolute, opacity 0 상태로 숨겨놓음 */
}

.portfolio .tab-menu>.body>ul>.pf.active {
  opacity: 1;
  position: static;
  /* 다른 엘리먼트들은 absolute 상태라 active된 엘리먼트에 영향을 주지 않으므로 해당 active 된 엘리먼트가 원래 자리로 나오게 됨 */
  transition: opacity 3.5s;
  /* 나타날 때만 서서히, 사라질 때는 효과 없이 사라져야 하므로 active 때에만 transition을 줌 */
}

.portfolio .tab-menu>.head>ul>.pf.active>a {
  line-height: 80%;
  color: white;
  font-weight: 700;
  padding: 7px 9px 9px;
  background-color: #7079E2;
  border-radius: 5px;
}

/* 포트폴리오 끝 */


/* 컨택트 시작 */
/* 컨택트 - 텍스트 배경 시작 */
.contact>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .text-bg {
  margin-top: -150px;
  font-family: 'Roboto', sans-serif;
  color: transparent;
  font-weight: 700;
  -webkit-text-stroke: 6px white;
  /* 텍스트 외곽선 */
  opacity: 3%;
  letter-spacing: -5px;
}

.contact .text-bg>p:first-child {
  font-size: 270px;
  line-height: 75%;
  margin-bottom: 60px;
}

.contact .text-bg>p:last-child {
  font-size: 210px;
  line-height: 75%;
  letter-spacing: -8px;
}

/* 컨택트 - 텍스트 배경 끝 */

/* 컨택트 - 텍스트 시작 */
.contact .text {
  position: absolute;
  z-index: 3;
  top: 305px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.contact .text>.text-email {
  margin-bottom: 70px;
}

.contact .text>div>p:first-child {
  font-size: 48px;
  font-weight: 700;
  color: #7079E2;
  line-height: 80%;
  margin-bottom: 22px;
}

.contact .text>div>p:last-child {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 400px;
  color: white;
  line-height: 80%;
  letter-spacing: 2px;
}

/* 컨택트 - 텍스트 끝 */

/* 컨택트 - 바다 이미지 시작 */
.contact .img>.img-boat {
  position: absolute;
  z-index: 6;
  top: 428px;
  left: 1221.1px;
  animation: boat 3s infinite linear;
}

.contact .img>.img-boat>.dark {
  display: block;
}

.contact .img>.img-boat>.light {
  display: none;
}

.contact .img>.img-sea>div {
  position: absolute;
  top: 630px;
  left: -1500px;
  width: 5000px;
  height: 5000px;
  border-radius: 47%;
  background: radial-gradient(#6e79ed 65%, #1445a8 75%);
  z-index: 2;
  animation: wave 10s infinite linear;
}

.contact .img>.img-sea>.img-wave-2 {
  border-radius: 45%;
  top: 625px;
  opacity: 60%;
  animation: wave2 10.6s infinite linear;
  transform: rotate(50deg);
}

.contact .img>.img-sea>.img-wave-3 {
  border-radius: 46%;
  top: 620px;
  opacity: 20%;
  animation: wave3 10.2s infinite linear;
  transform: rotate(20deg);
}

/* 컨택트 - 바다 이미지 끝 */

/* 컨택트 - 카피라이트 시작 */
.contact .copy {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
  z-index: 3;
  font-size: 14px;
  font-weight: 100;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  opacity: 85%;
  line-height: 90%;
}

.contact .copy>div {
  margin-bottom: 14px;
}

.contact .copy span:first-child,
.contact .copy span:nth-child(3) {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* 컨택트 - 카피라이트 끝 */
/* 컨택트 끝 */


/* 배경 별 반짝이는 효과 시작 */
.StarryNight.dark {
  display: block;
}

.StarryNight>.stars {
  position: absolute;
  z-index: 1;
}

/* 큰 별 */
.StarryNight>.star-l {
  width: 12px;
  height: 12px;
}

.StarryNight>.star-l>.light {
  filter: blur(6px);
}

/* 중간 별 */
.StarryNight>.star-m {
  width: 10px;
  height: 10px;
}

.StarryNight>.star-m>.light {
  filter: blur(5px);
}

/* 작은 별 */
.StarryNight>.star-s {
  width: 5px;
  height: 5px;
}

.StarryNight>.star-s>.light {
  filter: blur(2.5px);
}

/* 별 형태, 색상 */
.StarryNight>.stars>.star {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #E0E0E0;
}

.StarryNight>.stars>.light {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #E0E0E0;
  opacity: 0.8;
}

/* 별 반짝이는 애니메이션 */
@keyframes clittering {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* 별마다 애니메이션 적용 */
.ico-star-1 {
  animation: clittering 2s infinite;
}

.ico-star-2 {
  animation: clittering 3s infinite;
}

.ico-star-3 {
  animation: clittering 5s infinite;
}

.ico-star-4 {
  animation: clittering 2s infinite;
}

.ico-star-5 {
  animation: clittering 4s infinite;
}

.ico-star-6 {
  animation: clittering 1.8s infinite;
}

.ico-star-7 {
  animation: clittering 3.5s infinite;
}

/* 별 위치 */
.StarryNight>.star-1 {
  top: 121px;
  left: 153px;
}

.StarryNight>.star-2 {
  top: 251px;
  left: 417px;
}

.StarryNight>.star-4 {
  top: 674px;
  left: 420px;
}

.contact .StarryNight>.star-4 {
  top: 590px;
  left: 109px;
}

.StarryNight>.star-6 {
  top: 105px;
  left: 1812px;
}

.StarryNight>.star-8 {
  top: 359px;
  left: 1370px;
}

.StarryNight>.star-10 {
  top: 780px;
  left: 1273px;
}

.StarryNight>.star-12 {
  top: 387px;
  left: 601px;
}

.StarryNight>.star-15 {
  top: 855px;
  left: 151px;
}

.StarryNight>.star-16 {
  top: 440px;
  left: 1595px;
}

.StarryNight>.star-17 {
  top: 632px;
  left: 1514px;
}

.StarryNight>.star-18 {
  top: 860px;
  left: 1030px;
}

.StarryNight>.star-19 {
  top: 123px;
  left: 1278px;
}

.StarryNight>.star-20 {
  top: 760px;
  left: 1731px;
}

.StarryNight>.star-25 {
  top: 95px;
  left: 829px;
}

.StarryNight>.star-26 {
  top: 775px;
  left: 601px;
}

/* 배경 별 반짝이는 효과 끝 */

/* 배경 하늘 물방울 움직이는 효과 시작 */
.sky.light {
  display: none;
}

.sky>.bubble {
  position: absolute;
  z-index: 1;
  background-color: #ddefff;
  border-radius: 50%;
}

.sky>.bubble-svg {
  position: absolute;
  z-index: 1;
}

/* 메인 물방울 배경 */
.main .sky>.bubble-1 {
  top: 169px;
  left: 144px;
  width: 24.83px;
  height: 27.3px;
  animation: floating 3s infinite;
}

.main .sky>.bubble-2 {
  top: 249px;
  left: 303px;
  width: 60px;
  height: 65.98px;
  animation: floating 6s infinite;
}

.main .sky>.bubble-3 {
  top: 367px;
  left: 87px;
  width: 30px;
  height: 32.99px;
  animation: floating 4s infinite;
}

.main .sky>.bubble-4 {
  top: 650px;
  left: -25px;
  width: 69.21px;
  height: 76.1px;
  animation: floating 5s infinite;
}

.main .sky>.bubble-5 {
  top: 828.37px;
  left: 274px;
  width: 159.08px;
  height: 174.92px;
  animation: floating 6.5s infinite;
}

.main .sky>.bubble-6 {
  top: -5.42px;
  left: 497px;
  width: 168.39px;
  height: 185.16px;
  animation: floating 4.5s infinite;
}

.main .sky>.bubble-7 {
  top: 726px;
  left: 497px;
  width: 35px;
  height: 39px;
  animation: floating 3s infinite;
}

.main .sky>.bubble-8 {
  top: 212px;
  left: 1460px;
  width: 110.37px;
  height: 121.36px;
  animation: floating 5s infinite;
}

.main .sky>.bubble-9 {
  top: 822px;
  left: 1343px;
  width: 42px;
  height: 46.18px;
  animation: floating 3.5s infinite;
}

.main .sky>.bubble-10 {
  top: 639px;
  left: 1554px;
  width: 30px;
  height: 32.99px;
  animation: floating 5s infinite;
}

.main .sky>.bubble-12 {
  top: 99.85px;
  left: 1684.7px;
  width: 61px;
  height: 67px;
  animation: floating 4s infinite;
}

.main .sky>.bubble-13 {
  top: 717.44px;
  left: 1672.71px;
  width: 104.84px;
  height: 115.29px;
  animation: floating 4.5s infinite;
}

/* 어바웃미 물방울 배경 */
.aboutMe .sky>.bubble-1 {
  top: 169px;
  left: 144px;
  width: 24.83px;
  height: 27.3px;
  animation: floating 3s infinite;
}

.aboutMe .sky>.bubble-2 {
  top: 249px;
  left: 303px;
  width: 60px;
  height: 65.98px;
  animation: floating 4.5s infinite;
}

.aboutMe .sky>.bubble-3 {
  top: 493px;
  left: 42px;
  width: 30px;
  height: 32.99px;
  animation: floating 3.5s infinite;
}

.aboutMe .sky>.bubble-4 {
  top: 572px;
  left: 155.65px;
  width: 147.12px;
  height: 161.77px;
  animation: floating 5s infinite;
}

.aboutMe .sky>.bubble-5 {
  top: 893.94px;
  left: -25px;
  width: 69.21px;
  height: 76.1px;
  animation: floating 4s infinite;
}

.aboutMe .sky>.bubble-6 {
  top: 809px;
  left: 381px;
  width: 35px;
  height: 39px;
  animation: floating 3s infinite;
}

.aboutMe .sky>.bubble-7 {
  top: 49.6px;
  left: 546px;
  width: 122.09px;
  height: 134.25px;
  animation: floating 5s infinite;
}

.aboutMe .sky>.bubble-8 {
  top: 99px;
  left: 1246.77px;
  width: 51.46px;
  height: 56.59px;
  animation: floating 3.5s infinite;
}

.aboutMe .sky>.bubble-9 {
  top: -114px;
  left: 1515.34px;
  width: 176.43px;
  height: 194px;
  animation: floating 6s infinite;
}

.aboutMe .sky>.bubble-10 {
  top: 620px;
  left: 1554.04px;
  width: 169.38px;
  height: 186.25px;
  animation: floating 5.5s infinite;
}

.aboutMe .sky>.bubble-11 {
  top: 822px;
  left: 1343px;
  width: 42px;
  height: 46.18px;
  animation: floating 3.5s infinite;
}

.aboutMe .sky>.bubble-12 {
  top: 249px;
  left: 1803px;
  width: 24.83px;
  height: 27.3px;
  animation: floating 4.5s infinite;
}

/* 포트폴리오 물방울 배경 */
.portfolio .sky>.bubble-1 {
  top: 169px;
  left: 144px;
  width: 24.83px;
  height: 27.3px;
  animation: floating 3s infinite;
}

.portfolio .sky>.bubble-2 {
  top: 249px;
  left: 303px;
  width: 60px;
  height: 65.98px;
  animation: floating 4.5s infinite;
}

.portfolio .sky>.bubble-3 {
  top: 517px;
  left: 72px;
  width: 30px;
  height: 32.99px;
  animation: floating 3.5s infinite;
}

.portfolio .sky>.bubble-4 {
  top: 600.07px;
  left: 123px;
  width: 183.52px;
  height: 201.8px;
  animation: floating 5s infinite;
}

.portfolio .sky>.bubble-5 {
  top: 860px;
  left: -35px;
  width: 69.21px;
  height: 76.1px;
  animation: floating 4s infinite;
}

.portfolio .sky>.bubble-6 {
  top: 809px;
  left: 381px;
  width: 35px;
  height: 39px;
  animation: floating 3s infinite;
}

.portfolio .sky>.bubble-7 {
  top: 212px;
  left: 1460px;
  width: 110.37px;
  height: 121.36px;
  animation: floating 4.5s infinite;
}

.portfolio .sky>.bubble-8 {
  top: 922px;
  left: 1343px;
  width: 42px;
  height: 46.18px;
  animation: floating 3.5s infinite;
}

.portfolio .sky>.bubble-9 {
  top: -3.44px;
  left: 1611.57px;
  width: 279px;
  height: 306.79px;
  animation: floating 5.5s infinite;
}

.portfolio .sky>.bubble-10 {
  top: 336px;
  left: 1730px;
  width: 24.83px;
  height: 27.3px;
  animation: floating 4s infinite;
}

.portfolio .sky>.bubble-11 {
  top: 822px;
  left: 1833px;
  width: 138px;
  height: 151.74px;
  animation: floating 5s infinite;
}

.portfolio .sky>.bubble-12 {
  top: 682px;
  left: 1684px;
  width: 30px;
  height: 32.99px;
  animation: floating 4.5s infinite;
}

.portfolio .sky>.bubble-13 {
  top: -5.42px;
  left: 497px;
  width: 168.39px;
  height: 185.16px;
  animation: floating 6s infinite;
}

/* 컨택트 물방울 배경 */
.contact .sky>.bubble-1 {
  top: 169px;
  left: 144px;
  width: 24.83px;
  height: 27.3px;
  animation: floating 3s infinite;
}

.contact .sky>.bubble-2 {
  top: 249px;
  left: 303px;
  width: 60px;
  height: 65.98px;
  animation: floating 4s infinite;
}

.contact .sky>.bubble-3 {
  top: -5.42px;
  left: 497px;
  width: 168.39px;
  height: 185.16px;
  animation: floating 5s infinite;
}

.contact .sky>.bubble-4 {
  top: 395.07px;
  left: 602.78px;
  width: 30px;
  height: 32.99px;
  animation: floating 3.5s infinite;
}

.contact .sky>.bubble-5 {
  top: 126.84px;
  left: 1047px;
  width: 48px;
  height: 53px;
  animation: floating 4.5s infinite;
}

.contact .sky>.bubble-6 {
  top: 249.41px;
  left: 1247px;
  width: 110.37px;
  height: 121.36px;
  animation: floating 5.5s infinite;
}

.contact .sky>.bubble-7 {
  top: 0px;
  left: 1593.89px;
  width: 142.79px;
  height: 157.01px;
  animation: floating 6s infinite;
}

.contact .sky>.bubble-8 {
  top: 380.31px;
  left: 1628.5px;
  width: 30.69px;
  height: 33.88px;
  animation: floating 4s infinite;
}

.contact .sky>.bubble-9 {
  top: 518.29px;
  left: 115.9px;
  width: 87.12px;
  height: 95.79px;
  animation: floating 5.5s infinite;
}

/* 물방울 애니메이션 */
@keyframes floating {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

/* 배경 하늘 물방울 움직이는 효과 끝 */


/* --- 라이트 버전 커스텀 시작 --- */
/* 화면 배경색 */
.site-wrap.mode .section {
  background-color: white;
}

/* 헤더 - 메뉴바 */
/* 로고 */
.site-wrap.mode .menu-bar .logo>.logo {
  fill: #7079E2;
}

.site-wrap.mode .menu-bar .logo>.SunMoon>.dark {
  display: none;
}

.site-wrap.mode .menu-bar .logo>.SunMoon>.light {
  display: block;
}

/* 메뉴 아이템 */
.site-wrap.mode .menu-bar {
  color: #999999;
}

/* 페이지가 활성화 됐을 때 메뉴 아이템 색상 변경 */
.site-wrap.mode .menu-bar .menu>li.active>a {
  color: #7079E2;
}

/* 메인 시작 */
/* 메인 - 텍스트 배경 */
.site-wrap.mode .main .text-bg {
  -webkit-text-stroke: 6px #E4E4E4;
  opacity: 30%;
}

/* 메인 - 타이틀 */
.site-wrap.mode .main .title p {
  color: #7079E2;
}

.site-wrap.mode .main .title-1>p:first-child {
  font-weight: 400;
}

.site-wrap.mode .main .title-1>.title_line {
  background-color: rgb(141, 148, 232);
}

/* 메인 - 바다 이미지 */
.site-wrap.mode .main .main-img {
  background-color: #fff;
}

.site-wrap.mode .main .main-img .main-img__sky-1 {
  background: linear-gradient(rgb(117, 164, 255), rgb(171, 245, 255));
}

.site-wrap.mode .main .main-img .main-img__sky-2 {
  background: linear-gradient(transparent, #fff);
}

.site-wrap.mode .main .main-img>.main-img__sea>div {
  background: radial-gradient(rgb(0, 117, 255) 10%, rgba(143, 232, 252, 0.87) 90%);
}

.site-wrap.mode .main .main-img .main-img__boat>.dark {
  display: none;
}

.site-wrap.mode .main .main-img .main-img__boat>.light {
  display: block;
}

/* 메인 끝 */


/* 타이틀 공통 css 시작 */
.site-wrap.mode .title-css>p {
  color: #7079E2;
}

.site-wrap.mode .title-css>p:first-child {
  font-weight: 400;
}

.site-wrap.mode .title-css>.title_line {
  background-color: rgb(141, 148, 232);
}

/* 타이틀 공통 css 끝 */


/* 어바웃미 시작 */
/* 어바웃미 - 한 줄 소개 */
.site-wrap.mode .aboutMe .main-text {
  color: #404040;
}

.site-wrap.mode .aboutMe .main-text>span:nth-of-type(2) {
  font-weight: 400;
}

/* 어바웃미 - 항목별 소개 &*/
.site-wrap.mode .aboutMe .sub-text>div {
  color: #404040;
}

.site-wrap.mode .aboutMe .sub-text>.content {
  font-weight: 400;
}

.site-wrap.mode .aboutMe .sub-text>.content>.skill-con>div {
  color: white;
  font-weight: 500;
}

/* 포트폴리오 시작 */
/* 포트폴리오 - 탭메뉴 타이틀 */
.site-wrap.mode .portfolio .tab-menu>.tab-menu__title {
  color: #7079E2;
}

/* 포트폴리오 - 탭메뉴 아이템 */
.site-wrap.mode .portfolio .tab-menu>.head>ul>li:not(:last-child)::after {
  background-color: #676565;
}

/* 포트폴리오 - 탭메뉴 내용 */
.site-wrap.mode .portfolio .tab-menu>.body>ul {
  background-color: #F5F5F5;
}

.site-wrap.mode .portfolio .tab-menu>.body>ul>.pf {
  color: #404040;
}

.site-wrap.mode .portfolio .tab-menu>.body .content>.text-1>div>p:first-child {
  font-weight: 700;
}

.site-wrap.mode .portfolio .tab-menu>.body .content>.text-1>div>p:last-child {
  font-weight: 400;
}

.site-wrap.mode .portfolio .tab-menu>.body .content>.text-2 {
  font-weight: 400;
}

.site-wrap.mode .portfolio .tab-menu>.body .content>.btn>a {
  color: #404040;
  border: 2px solid #808080;
  font-weight: 700;
}

.site-wrap.mode .portfolio .tab-menu>.body .content>.btn>a:hover {
  color: white;
  border: 0px solid #808080;
}

/* 포트폴리오 탭메뉴 내용, 목업 */
.site-wrap.mode .portfolio .tab-menu>.body .mockup>.dark {
  display: none;
}

.site-wrap.mode .portfolio .tab-menu>.body .mockup>.light {
  display: block;
}

.site-wrap.mode .portfolio .tab-menu>.body .mockup>.site-img>.dark {
  display: none;
}

.site-wrap.mode .portfolio .tab-menu>.body .mockup>.site-img>.light {
  display: block;
}


/* 컨택트 시작 */
/* 컨택트 - 텍스트 배경 시작 */
.site-wrap.mode .contact .text-bg {
  -webkit-text-stroke: 6px #E4E4E4;
  opacity: 30%;
}

/* 컨택트 - 텍스트 */
.site-wrap.mode .contact .text>div>p:last-child {
  color: #404040;
}

/* 컨택트 - 바다 이미지 */
.site-wrap.mode .contact .img>.img-sea>div {
  background: radial-gradient(#4089fa 64%, #a0efff 72%);
}

.site-wrap.mode .contact .img>.img-boat>.dark {
  display: none;
}

.site-wrap.mode .contact .img>.img-boat>.light {
  display: block;
}

.site-wrap.mode .StarryNight.dark {
  display: none;
}

.site-wrap.mode .sky.light {
  display: block;
}

/* --- 라이트 버전 커스텀 끝 --- */